@import "./mixin.scss";
.createPost-container {
    position: relative;
  
    .createPost-main-container {
      padding: 40px 45px 20px 50px;
  
      .postInfo-container {
        position: relative;
        @include clearfix;
        .postInfo-container-item {
          padding-right: 5%;
        }
      }
    }
  
    .word-counter {
      width: 40px;
      position: absolute;
      right: 10px;
      top: 0px;
    }
  }
  
  .article-textarea /deep/ {
    textarea {
      padding-right: 40px;
      resize: none;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid #bfcbd9;
    }
  }