@import "./mixin.scss";
.createPost-container {
    position: relative;

    .el-date-editor.el-input, .el-select {
      width: 100%;
    }

    .createPost-main-container {
      padding: 20px 25px 10px 25px;

      .postInfo-container {
        position: relative;
        @include clearfix;
        .postInfo-container-item {
          padding-right: 5%;
        }
      }
    }

    .word-counter {
      width: 40px;
      position: absolute;
      right: 10px;
      top: 0px;
    }
  }

  .article-textarea /deep/ {
    textarea {
      padding-right: 40px;
      resize: none;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid #bfcbd9;
    }
  }
